doctype html
html
  head
    title= title
    script(src='https://www.paypalobjects.com/api/checkout.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/socket.io.js')
    body
      h2 #{mode} mode
      form#simple-payment
        div.input
          span.label Pay 
          input(type="text" name="payee" value=payee style="width:200px;" )
          span   #{price} per item
          br
        hr
        div.input
          input(type="text", name="qty", placeholder="Quantity")
        br
        div.input
          input(type="textarea", name="contact" placeholder="Note to Payee (255 characters)" style="width:200px;height:100px;")
        br
        #paypal-button
      hr
      span PayPal Responses
      #responses
      script(src='/main.js')
